.scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #EA9C63 #F2F2F2; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #EA9C63; 
    border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #F2F2F2; 
}

.scrollbar-thin::-webkit-scrollbar-button {
    display: none;
}
